<div id="sign-up-temp" [ngClass]="{'is-light-mode': !isDarkMode, 'is-dark-mode': isDarkMode}">
    <div id="header">
        <h1>Sign up</h1>
    </div>
    <div id="content">
        <form [formGroup]="formUser" *ngIf=!signedUp (submit)="signedUp = true">
            <label>Username</label>
            <input class="input" type="username" placeholder="Usename" autocomplete="username" formControlName="username" required>
            <label>Password</label>
            <input class="input" type="password" placeholder="Password" autocomplete="current-password" formControlName="password" required>
            <label>Confirm password</label>
            <input class="input" type="password" placeholder="Re-enter password" autocomplete="current-password" formControlName="confirmPassword" required>
            <input class="submit-input" type="submit" value="Next">
        </form>

        <form [formGroup]="formCustomer" *ngIf="signedUp" (ngSubmit)="signUp()">
            <label>Firstname</label>
            <input class="input" type="firstname" placeholder="Firstname" autocomplete="firstname" formControlName="firstname" required>
            <label>Lastname</label>
            <input class="input" type="lastname" placeholder="Lastname" autocomplete="lastname" formControlName="lastname" required>
            <label>Address</label>
            <input class="input" type="address" placeholder="Templane 25" autocomplete="address" formControlName="address" required>
            <label>Postcode</label>
            <input class="input" type="postcode" placeholder="Postcode" autocomplete="postcode" formControlName="postcode" required>
            <label>Phone Number</label>
            <input class="input" type="phoneNumber" placeholder="Phone Number" autocomplete="phoneNumber" formControlName="phoneNumber" required>
            <label>Email</label>
            <input class="input" type="email" placeholder="Email" autocomplete="email" formControlName="email" required>
            <input class="submit-input" type="submit" value="Sign Up">
          </form>

    </div>
</div>
