@import "src/colors.scss";

#sign-up-temp {
  height: calc(100vh - 6rem);
  width: 100%;
  margin-top: 6rem;

  #header {
    display: flex;
    height: 30%;
    min-height: 20rem;
    width: 100%;
    background-color: $dark_background-color-dark;
    overflow: hidden;

    h1 {
      margin: 5rem 0 0 4rem;
      font-size: 10em;
      color: #2b2a2a;
      bottom: 0;
    }
  }

  #content {
    display: flex;
    width: 100%;

    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: left;
      margin: 2.5rem 0 0 5rem;

      label {
        font-weight: 700;
        margin: 1rem 0 0.5rem 0.5rem;
        color: inherit;
      }

      .input {
        width: 75%;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        background-color: $dark_background-color-dark;
        color: $dark_text;
      }
    }

    .submit-input {
      width: 50%;
      padding: 0.8rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      background-color: $dark_accent-color;
      color: $dark_text;
      margin-top: 2.5rem;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}

.is-light-mode {
  background-color: $light_background-color;
  color: $light_text;
}

.is-dark-mode {
  background-color: $dark_background-color;
  color: $dark_text;
}
