@import "src/colors.scss";

#front-page-temp {
  min-height: calc(100vh - 6rem);
  height: 100%;
  width: 100%;
}

#movies-temp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.is-light-mode {
  background-color: $light_background-color;
  color: $light_text;
}

.is-dark-mode {
  background-color: $dark_background-color;
  color: $dark_text;
}
