<div id="front-page-temp" [ngClass]="{'is-light-mode': !isDarkMode, 'is-dark-mode': isDarkMode}">
    <div id="movies-temp">
        <ul>
            <li *ngFor="let movie of tempMovieData">
                <div class="movie-temp">
                    <p class="id">{{movie.id}}</p>
                    <h3>{{movie.title}}</h3>
                    <p class="movie-info">Rating: {{movie.rating}}</p>
                    <p class="movie-info">Age Rating: {{movie.ageRating}}</p>
                    <p class="movie-info">Runtiem: {{movie.runtime}}</p>
                    <p class="movie-info">Release date: {{movie.releaseDate}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
