@import "./../../../colors.scss";

#front-page-temp {
  height: 100%;
  min-height: calc(100vh - 6rem);
  width: 100%;
  margin-top: 6rem;


}
.is-light-mode {
  background-color: $light_background-color;
  color: $light_text;
}

.is-dark-mode {
  background-color: $dark_background-color;
  color: $dark_text;
}
