<div id="movie-details-temp" [ngClass]="{'is-light-mode': !getTheme(), 'is-dark-mode': getTheme()}">


  <div class="poster" *ngIf="movie">
    <div class="container">
      <img [src]="movie.imgUrl || '/assets/images/noimage.png'" alt="no image found">
    </div>

    <div class="container" style="margin: 0 0 0 2rem">

      <h1>{{movie.title}}</h1>
      <label>Pick time and date</label>

      <select *ngIf="screenings" (change)="onDateChange($event.target.value)">
        <option value="" selected disabled hidden>Pick a date</option>
        <option *ngFor="let screening of getDistinctDates()">{{screening.time | date:'mediumDate'}}</option>
      </select>

      <div *ngIf="selectedDate" id="screenings">
        <div style="margin-top: 1rem" *ngFor="let theater of getDistinctCinema()">
          <p style="margin-bottom: 1rem;">Theater: {{theater.theater}}</p>
          <app-movie-time *ngFor="let screening of getTimesFromCinema(theater.theater)" [screening]="screening"></app-movie-time>
        </div>
      </div>

    </div>
  </div>

  <div class="more-info" *ngIf="movie">
    <div class="col-1-2">
      <div id="description">
        <p>{{movie.description}}</p>
      </div>
    </div>
    <div class="col-1-2 card">
      <div *ngIf="movie" id="more-info-card">
        <div class="container">
          <label>Title</label>
          <p>{{movie.title}}</p>
        </div>
        <div class="container">
          <label>Length</label>
          <p>{{movie.runtime}} Minutes.</p>
        </div>
        <div class="container">
          <label>Age rating</label>
          <p>{{movie.ageRating || "--"}}</p>
        </div>
        <div class="container">
          <label>Genres</label>
          <p>{{movie.genre}}</p>
        </div>
        <div class="container">

        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- <p>Rating: {{movie.rating}} </p>
<p>Runtime: {{movie.runtime}} </p>
<p>Agerating: {{movie.ageRating}}</p>
<p>Release date: {{movie.releaseDate}}</p>
<p>Genre: {{movie.genre}} </p>
<div *ngFor="let director of movie.directors">
  <p>Director: {{director.firstName + " " + director.lastName}}</p>
</div>
<div *ngFor="let screenwriter of movie.screenWriters">
  <p>Screenwriter: {{screenwriter.firstName + " " + screenwriter.lastName}}</p>
</div>
<div *ngFor="let scriptwriter of movie.screenWriters">
  <p>Scriptwriter: {{scriptwriter.firstName + " " + scriptwriter.lastName}}</p>
</div>
<div *ngFor="let actor of movie.actors">
  <p>Actors: {{actor.firstName + " " + actor.lastName}}</p>
</div> -->


