@import "src/colors.scss";

:host{
    position: relative;
    width: 100%;

    input {
        padding: 0.8rem 1rem;
        width: 100%;
        border-radius: 1rem;
        border: none;
        outline: none;
        background-color: $dark_background_color_dark;
        color: $dark_text;
    }

    .dropdown{
        position: absolute;
        display: block;
        width: inherit;
        max-height: 0;
        overflow-y: auto;
        background-color: $dark_background_color_dark;
        color: $dark_text;
        box-sizing:border-box;

        p{
            padding: .1rem .5rem;
            cursor: pointer;
        }
    }

    input:focus + .dropdown{
        max-height: 10rem;
        transition: 0.5s max-height ease-in-out;
    }
}