<div id="admin-temp" [ngClass]="{'is-light-mode': !getTheme(), 'is-dark-mode': getTheme()}">
    <div class="wrapper">
        <div id="navigation-tab">
            <ul>
                <li 
                    *ngFor="let item of navigationItems; let i = index" 
                    (click)="onNavigationItemClick(i)">
                        <p [ngClass]="{'active-navigation': item == activeNavigation}">{{item[0]}}</p>
                    </li>
            </ul>
            <div class="divider"></div>
            <div id="content" class="container">
                <div class="fill container column center" *ngIf="activeNavigation == navigationItems[0]">
                    <div id="search-bar">
                        <app-combo-box (selectedId)="movieId" type="movies"></app-combo-box>
                    </div>
                    <div class="fill container column center">
                        <h1>Creating Movie</h1>
                        <form id="movie-form" class="fill container column center" [formGroup]="movieFormGroup" (submit)="movieSubmit()">
                            <label>Title:</label>
                            <input type="text" formControlName="title" placeholder="title">
                            <label>Runtime:</label>
                            <input type="text" formControlName="runtime" placeholder="runtime">
                            <label>Rating:</label>
                            <input type="text" formControlName="rating" placeholder="rating">
                            <label>Age rating</label>
                            <app-combo-box style="margin-bottom: 1rem;" (selectedItem)="getAgeRatingValue($event)" type="Agerating" #ageRatingCombo></app-combo-box> 
                            <label>Image URL:</label>
                            <input type="text" formControlName="imgUrl" placeholder="Image URL">
                            <label>Release date:</label>
                            <input type="text" formControlName="releaseDate" placeholder="Release date">
                            <div>
                                <h2>Genres</h2>
                                <app-combo-box (selectedItem)="getValueFromComboBox($event)" type="Genres" #genreCombo></app-combo-box>
                                <button type="button" (click)="addGenre()">Add Genre</button>
                            </div>

                            <div *ngFor="let genre of genres.controls; let i = index">
                                <!-- <label>Genre:</label> -->
                                <p>{{ genre.value }}</p>
                                <!-- input type="text" [formControl]="genres.controls[i]"> -->
                                <button (click)="removeGenre(i)" type="button">X</button>
                            </div>
                            <label>Description:</label>
                            <input type="text" formControlName="description" placeholder="description">
                            <input type="submit" value="submit">
                        </form>
                            
                    </div>
                </div>
                <div *ngIf="activeNavigation == navigationItems[1]">
                    <p>This is Screenings</p>
                </div>
                <div *ngIf="activeNavigation == navigationItems[2]">
                    <p>This is Users</p>
                </div>
                <div *ngIf="activeNavigation == navigationItems[3]">
                    <p>This is Customers</p>
                </div>
                <div *ngIf="activeNavigation == navigationItems[4]">
                    <p>This is Bookings</p>
                </div>
                
            </div>
        </div>
    </div>
</div>