<nav [ngClass]="{'is-dark-mode': !isDarkMode}">
    <h2 routerLink="/front-page">H3 Cinema</h2>
    <ul>
        <li>
            <a routerLink="" class="link">Movies</a>
        </li>
        <li>
            <a class="link" style="margin-left: 2.5rem;" (click)="showLogin()">Login</a>
        </li>
        <li>
            <a routerLink="/sign-up" class="link-button">Sign up</a>
        </li>
        <li id="switch-li">
            <label class="switch">
                <input (click)="toggleTheme()" type="checkbox" [checked]="isDarkMode">
                <span class="slider round"></span>
            </label>
            <label class="darkmode-text">Darkmode</label>
        </li>
    </ul>
</nav>
<app-booking-seat></app-booking-seat>
<!-- <router-outlet></router-outlet> -->
<app-login *ngIf="loginState" (loginClose)="receiveLoginState($event)"></app-login>