<div id="login-shadow">
    <div id="login-temp">
        <button class="button-close" (click)="sendLoginClose()">Close</button>
        <h1>Login</h1>
        
        <form [formGroup]="form" (submit)="alertOnSend()">
            <label>Email</label>
            <input class="input" type="email" placeholder="Email" autocomplete="email" formControlName="email" required>
            <label>Password</label>
            <input class="input" type="password" placeholder="Password" autocomplete="current-password" formControlName="password" required>
            <input class="submit-input" type="submit" value="Login">
        </form>
        <input (click)="forgotPassword()" class="submit-input forgot-password" type="submit" value="Forgot Password">
    </div>
</div>