// DARK
$dark_background_color: #1b1b1b;
$dark_navigation_background: #2b2b2b;
$dark_button_hover: #333333;
$dark_background_color_dark: #111111;
$dark_text: #e1e1e1;
$dark_accent_color: #508ec5;
$dark_grey: #b1b1b1;
$dark_accent_color_hover: #447fb3;

// LIGHT
$light_background_color: #e1e1e1;
$light_navigation_background: #cccccc;
$light_button_hover: #bdbdbd;
$light_background_color_dark: #b1b1b1;
$light_text: #202020;
$light_accent_color: #508ec5;
$light_grey: #b1b1b1;
$light_accent_color_hover: #447fb3;