<div id="screening-temp" [ngClass]="{'is-light-mode': !getTheme(), 'is-dark-mode': getTheme()}">
    <div id="header">
        <div class="col-1-2 center fill">
            <img class="movie-image" src="/assets/images/noimage.png">
        </div>
        <div *ngIf="screening" class="col-1-2 fill">
            <h1>{{screening.movie}}</h1>
            <div class="container">
                <div class="col-1-2">
                    <label>Date:</label>
                    <label>Tickets:</label>
                    <label>Theater:</label>
                    <label>Age rating:</label>
                </div>
                <div style="margin-left: 2rem;" class="col-1-2">
                    <p>{{screening.time | date:'mediumDate'}}</p>
                    <p>{{tickets}}</p>
                    <p>{{screening.theater}}</p>
                    <p>{{screening.ageRating}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="tickets-temp">
            <h1>Tickets</h1>
            <label>Normal Ticket</label>
            <label>$10</label>
            <div class="container">
                <div class="circle" (click)="minusTicket()">
                    <p>-</p>
                </div>
                <p class="ticket-number">{{tickets}}</p>
                <div class="circle" (click)="addTicket()">
                    <p>+</p>
                </div>
            </div>
            <p class="ticket-info">You have chosen <b>{{tickets}} ticket(s)</b> (max. <b>{{maxSeats}} tickets</b>)</p>
        </div>
        <div class="divider"></div>
        <div id="seats-temp" *ngIf="screening">
            <app-booking-seat [seats]="screening.seats" [bookingAmount]="tickets" (selectedSeatsEvent)="getSeats($event)"></app-booking-seat>
        </div>
        <div class="divider"></div>
        <div id="reserver-temp">
            <h1>Reserve tickets</h1>
            <div *ngIf="loggedIn" class="container">
                <button>Reserve Tickets</button>
            </div>
            <div *ngIf="!loggedIn" class="container">
                <button class="btn">Login</button>
                <button>Sign up</button>
            </div>
        </div>
    </div>
</div>